In [11]:
# print pattern
# *****
# ****
# ***
# **
# *
num=int(input("Enter number="))
for i in range (num):
    print("*"*(num-i))

Enter number= 5

*****
****
***
**
*

In [8]:
# print pttern
# *
# **
# ***
# ****
# *****
num=int(input("Enter user number="))
for i in range(num):
    print("*"*(i+1))

Enter user number= 6

*
**
***
****
*****
******

In [19]:
# print pattern
#     *
#    ***
#   *****
#  *******
# *********

num=5
for i in range(1,num+1):
    print(' '*(num-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [36]:
num=5
for i in range(1,num+1):
    print(" "*(num-i)+"*"*(2*i-1))
for i in range(num-2,-1,-1):
    print(" "*(num-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
  *****
   ***
    *

In [40]:
#     *
#    ***
#   *****
#  *******
# *********

num=5
for i in range(1,num+1):
    print(" "*(num-i)+"*"*(2*i-1))
for i in range(num-1,0,-1):
    print(" "*(num-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [41]:
#Diamond Pattern
n = 5
# Upper half of the diamond
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2*i-1))
# Lower half of the diamond
for i in range(n-1, 0, -1):
    print(' ' * (n-i) + '*' * (2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [7]:
#Program that finds the common elements between a list and a tuple using a loop:
my_list = [1, 2, 3, 4, 5]
my_tuple = (3, 4, 5, 6, 7)

common_element = []
for comon_elem in my_list:
    if comon_elem in my_tuple:
        common_element.append(comon_elem)
print(common_element)

[3, 4, 5]

In [20]:
#Program that creates a list of 5 numbers and prints each number using a for loop:

list =[1,3,5,7,9]
for i in list:
    print(i)

1
3
5
7
9

In [29]:
#Program that calculates the sum of all elements in a list of numbers using a loop:
number=[1,3,5,7,9]
sum=0
for i in number:
    sum = sum+i
print(sum)
    
# numbers = [1, 2, 3, 4, 5]
# total_sum = 0
# for number in numbers:
#     total_sum += number
# print("Sum of all elements:", total_sum)

25

In [33]:
#Program to create a tuple of strings and print each element using a for loop:
my_tuple=("apple","banana","orange","mango")
for fruits in my_tuple:
    print(fruits)

apple
banana
orange
mango

In [37]:
#Program that reverses the elements of a tuple using a loop:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = []
for i in range(len(my_tuple)-1, -1, -1):
    reversed_tuple.append(my_tuple[i])
print("Reversed tuple:", tuple(reversed_tuple))

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [38]:
len(my_tuple)

5

In [41]:
#Program to print each student's name and their score from a dictionary using a loop:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}

for name,marks in students.items():
    print(f"{name}:{marks}")

Alice:85
Bob:78
Charlie:92