In [6]:
#Q1 Solution

#create empty tuple 
tuple = ()  

#Ask user five times to enter the string and concat that string to the tuple
times = 5 
for i in range(times):
    user_string = input("enter the string\n")
    i=i+1

enter the string
 a
enter the string
 s
enter the string
 d
enter the string
 f
enter the string
 g

In [8]:
mytuple=("a","b","c","d","e","f")
toelement=(mytuple[-1:-7:-1])
print(toelement)
mytuple[0]

('f', 'e', 'd', 'c', 'b', 'a')

'a'

# PRACTICE QUESTIONS

In [27]:
# Q1. Accept 5 string values from user and store them as part of tuple. Print the elements of tuple with their indices.
tuple=()
time=5
for i in range(time):
    string=input("Enter strings=")
    tuple=tuple+ (string,)
print(tuple,i)

Enter strings= a
Enter strings= s
Enter strings= d
Enter strings= f
Enter strings= g

('a', 's', 'd', 'f', 'g') 4

In [33]:
tuple1=()
times=5
for i in range(times):
    string=input("Enter Strings=")
    tuple1=tuple1+(string,)
print(f"tuples are {tuple1}")

Enter Strings= q
Enter Strings= w
Enter Strings= e
Enter Strings= r
Enter Strings= t

tuples are ('q', 'w', 'e', 'r', 't')

In [53]:
tuple2=("apple","b","cow","dog",2,4,5,6,)
print(type(tuple2))

length=tuple2[0:]
print(length)

tuple3=("apple","b","cow","dog",2,4,5,6)
a=tuple3[3]
print(a)
tuple3[3]="

<class 'tuple'>
('apple', 'b', 'cow', 'dog', 2, 4, 5, 6)
dog

In [5]:
tuple2=("apple","b","cow","dog",2,4,5,6,)
print(len(tuple2))

8

In [13]:
tuple3=("apple","b","cow","dog",2,4,5,6,)
for i in range(len(tuple3)):
    print(i, " ",tuple3[i])

0   apple
1   b
2   cow
3   dog
4   2
5   4
6   5
7   6